.core-popover {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: #efefef;
    flex-direction: column;
    display: none;
    visibility: hidden;
    &.shown{
        display: flex;
        visibility: visible;
    }
    .core-popover_header {
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 10px #ccc;
    }
    .core-popover_container {
        flex: 1;
        position: relative;
    }
    .core-popover_footer {
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -1px 10px #ccc;
        .footer_item {
            flex: 1;
            text-align: center;
        }
    }
}