<div class="core-popover" [ngStyle]="_widget.style" [class.shown]="_widget.show">
    <div class="core-popover_header" *ngIf="_widget.headerTpl">
        <ng-container *ngTemplateOutlet="_widget.headerTpl"></ng-container>
    </div>
    <ng-content select="[popoverHeader]"></ng-content>
    <div class="core-popover_container">
        <xscroll #xscroll style="bottom: 0px;" [(items)]="list" [hasMore]="_widget.hasMore" [hasRefresh]="_widget.hasRefresh">
            <ng-template xscrollRef let-item>
                <ng-container *ngTemplateOutlet="_widget.tpl;context: {$implicit: item}"></ng-container>
            </ng-template>
            <ng-content></ng-content>
        </xscroll>
    </div>
    <ng-content select="[popoverFooter]"></ng-content>
    <div class="core-popover_footer" *ngIf="_widget.footerTpl">
        <ng-container *ngTemplateOutlet="_widget.footerTpl"></ng-container>
    </div>
</div>